#webHeader {
    position: fixed;
    width: 100%;
    height: 80px;
    box-shadow: 0px 1px rgba(128, 128, 128, 0.36);
    display: flex;
    align-items: center;
    z-index: 4;
    background-color: white;
    padding: 0 20px;
}

#logoBox {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    color: rgb(255, 33, 33);
    background: none;
    border: none;
}

#buttonContainer {
    display: flex;
    justify-content: center; 
    align-items: center;
    flex-grow: 1;
}

#firstButton, #secondButton {
    width: 100px;
    height: 40px;
    border: none;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10px;
    font-size: 15px;
    font-family: monospace;
}

#firstButton:hover, #secondButton:hover {
    cursor: pointer;
    border-bottom: 3px solid rgb(168, 168, 168);
}

#rhButton {
    width: 170px; 
    height: 40px;
    border: 1px solid rgb(162, 162, 162);
    background-color: white;
    display: flex;
    border-radius: 30px;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    left: -40px;
}

#rhButton:hover {
    cursor: pointer;
    box-shadow: 0px 2px 2px rgba(172, 172, 172, 0.842);
}

#rhText {
    font-size: 15px;
    font-family: monospace;
    padding-left: 22px;
}

#rhImage {
    position: absolute;
    left: 132px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 32px;
    width: 32px;
    background-color: blue; 
    border-radius: 30px;
}

#pencil {
    width: 25px;
    height: 25px;
}