* {
    font-family: monospace;
}

.ScreeningContainer {
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start;
    padding-top: 100px;
}

.SubScreeningContainer {
    background-color: #8d98cc;
    border: 3px solid #ababab;
    width: 70%;
}

#title {
    font-size: 50px;
    padding: 20px;
    font-weight: bold;
    color: #8d98cc;
}

.question {
    margin: 40px 0;
    font-size: 30px;
    text-align: center;
    color: white;
    font-weight: bold;
    width: 100%;
}

label {
    display: block; 
    margin-bottom: 8px;
    text-align: center;
}

.dropdown {
    padding: 5px;
    font-size: 16px;
    width: 200px; 
    height: 50px; 
    border-radius: 10px;
    margin-top: 20px;
    color: rgb(102, 102, 102);
    cursor: pointer;
}

.submitButton {
    margin: 20px 0 40px;
    width: 300px;
    height: 70px;
    border-radius: 15px;
    background-color: #8d98cc;
    border: 2px solid rgb(176, 176, 176);
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: opacity 0.3s;
}

.submitButton:hover {
    cursor: pointer;
    opacity: 0.8;
}

.customDropdown {
    position: absolute;
    border: 1px solid #ccc;
    background-color: white;
    color: black;
    font-size: 15px;
    max-height: 150px;
    overflow-y: auto;
    z-index: 5;
    width: 180px; 
    left: 50%; 
    transform: translateX(-50%); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

.dropdownOption {
    padding: 10px;
    cursor: pointer;
}

.dropdownOption:hover {
    background-color: #f0f0f0;
}

.searchInput{
    height: 45px;
    width: 195px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid rgb(113, 113, 113);
    text-align: center;
    margin-top: 20px;
}
.symptoms {
    display: flex;
    justify-content: center;
    font-size: 15px;
    color: white;
    overflow: hidden;
    white-space: normal;
    text-align: center;
    max-width: 100%; 
    font-size: calc(10px + 1vw); 
    position: relative;
    bottom: 20px;
}

.analysisContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 100px;
}

.analysisTitle{
    font-weight: bold;
    font-size: 30px;
    color:rgb(113, 113, 113)
}

.analysisKey{
    margin: 20px;
    font-size: 20px;
    display: block;
    color:rgb(113, 113, 113)
}